.main_pc_body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease;
    background: #eeebe4;
}
.main_pc_header{
    background: #F5F5F5;
    border-bottom: 2px solid lightblue !important;
    border: 0px solid red;
}

.main_pc_footer{
    text-align: center;
    padding: 10px;
    background: #cecdc9;
    border-top: 2px solid lightblue !important;

}

.main_pc{
    flex: 1;

}
.btn_ligth{
    background: #eeebe4;
}
/* esti es lo del dashboard de tipo side */
